<div class="index-main">
  <div class="cont_title2">
    <h1>みんなのスポット一覧</h1><hr>
  </div>
  <table class="location_info_base2">
    <thead>
      <% @locations.each do |location| %>
        <tr class="arrow_box">
          <th>スポット名</th>
          <td><%= location.location_name %></td>
        </tr>
        <tr class="arrow_box">
          <th>料金・予算</th>
          <td><%= location.price %>円</td>
        </tr>
        <tr class="arrow_box">
          <th>スポット画像</th>
          <% if location.location_image? %>
            <td><img src=<%= location.location_image.to_s %> class = "icon_imagea"></td>
          <% else %>
            <td><%= image_tag src='default.jpeg', class: "icon_imagea", alt: "ユーザーアイコン" %></td>
          <% end %>
        </tr>
        <tr class="arrow_box">
          <th>どんな所？</th>
          <td><%= location.introduction %></td>
        </tr>
        <tr class="arrow_box">
          <th>住所</th>
          <td><%= location.address %></td>
        </tr>
        <tr class="arrow_box">
          <th>詳細</th>
          <td><%= link_to "詳細を見る・レビューを書く", location %></td>
        </tr>
        <tr class="arrow_box">
          <th>いいね</th>
          <td>
            <% if current_user.already_favorited?(location) %>
              <%= link_to location_favorites_path(location), method: :delete do %>
                <i class="fas fa-heart"></i>
              <% end %>
              <%= location.favorites.count %>
            <% else %>
              <%= link_to location_favorites_path(location), method: :post do %>
                <i class="far fa-heart"></i>
              <% end %>
              <%= location.favorites.count %>
            <% end %>
          </td>
        </tr>
        <tr class="touroku">
          <% if location.user == current_user %>
            <th>消去</th>
            <td><%= link_to "消去しますか？", location, method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
          <% else %>
          <% end %>
        </tr>
      <% end %>
    </thead>
  </table>
</div>
