<div class="show-main">
  <div class="cont_title3">
    <h1>スポット詳細ページ</h1><hr>
  </div>
  <table class="location_info_base3">
    <thead>
      <tr class="arrow_box">
        <th>スポット名</th>
        <td><%= @location.location_name %></td>
      </tr>
      <tr class="arrow_box">
        <th>料金・予算</th>
        <td><%= @location.price %>円</td>
      </tr>
      <tr class="arrow_box">
        <th>スポット画像</th>
        <% if @location.location_image? %>
          <td><img src=<%= @location.location_image.to_s %> class = "icon_imagea"></td>
        <% else %>
          <td><%= image_tag src='default.jpeg', class: "icon_imagea", alt: "ユーザーアイコン" %></td>
        <% end %>
      </tr>
      <tr class="arrow_box">
        <th>住所</th>
        <td><%= @location.address %><div id="map"></div></td>
      </tr>
      <tr class="arrow_box">
        <th>スポット紹介</th>
        <td><%= @location.introduction %></td>
      </tr>
      <tr class="arrow_box">
        <th>口コミを見る</th>
        <td><%= link_to "レビューを見る", location_reviews_path(@location), class: "button light ml-3 mt-3" %></td>
      </tr>
      <tr class="arrow_box">
          <th>いいね</th>
          <td>
            <% if current_user.already_favorited?(@location) %>
              <%= link_to location_favorites_path(@location), method: :delete do %>
                <i class="fas fa-heart"></i>
              <% end %>
              <%= @location.favorites.count %>
            <% else %>
              <%= link_to location_favorites_path(@location), method: :post do %>
                <i class="far fa-heart"></i>
              <% end %>
              <%= @location.favorites.count %>
            <% end %>
          </td>
        </tr>
    </thead>
  </table>
  <%= render 'reviews/form', review: @review, location: @location %>
</div>
